<ion-header>
  <ion-navbar color='red' class="z-depth-2">
    <ion-title>
      MEI 2018
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- <ion-fab bottom right>
   <button ion-fab color='red' (click)="presentProfileModal();"><ion-icon name="add"></ion-icon></button>
 </ion-fab> -->

  <ion-list no-lines>

      <ion-grid>
        <ion-row>
          <ion-col col-8 col-sm>
            <ion-list-header>
              <p class="salaryBold">PENDAPATAN TETAP</p>
            </ion-list-header>
          </ion-col>
          <ion-col col-4>
            <ion-list-header text-center>
              <p class="salaryBold"></p>
              <button ion-button clear item-end (click)="newSalary();">{{viewGaji}}</button>
            </ion-list-header>
          </ion-col>
        </ion-row>
      </ion-grid>


    <ion-grid>
      <ion-row class="fontKommit">
        <ion-col col-8 col-sm>
          <ion-item *ngFor="let p of dataArray">
            <ion-label>{{p.data}}</ion-label>
            <ion-checkbox color='red' [checked]="p.checked" (ionChange)="updateChecking(p.data,p.checked)"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item *ngFor="let x of pushAmt" class="fontSalaryAmt" text-center>
            <p class="amtColor">{{x}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>
  <ion-row>
    <ion-col col-10 col-sm>
      <!-- //blank -->
    </ion-col>
    <ion-col col-2>
      <button color='red' ion-button block (click)="presentProfileModal();"><ion-icon name="add"></ion-icon></button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="z-depth-2">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- blank -->
        </ion-col>
        <ion-col class="fontFooter salaryBold" text-center>
          BAKI:
        </ion-col>
        <ion-col class="fontFooter totalColor salaryBold" col-4 text-center>
          {{viewBaki}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
