page-home {
  .z-depth-2 {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }

  .tab { margin-left: 40px; }

  .fontSalary{font-size: 70%; }
  .fontSalaryAmt{font-size: 60%; }
  .salaryBold{font-weight: bold; }

  .fontKommit{font-size: 80%; }
  .fontKommitAmt{font-size: 60%; }

  .fontFooter{font-size: 90%; }

  .totalColor{color: #0037ff; }
  .amtColor{color: red; }
}
